<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkreSOr-mXMVxvnBGr9cnd_cEqt3rjsqE</string>
	<key>GCM_SENDER_ID</key>
	<string>441128215855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dc.shoppingCart</string>
	<key>PROJECT_ID</key>
	<string>flutter-ap-001</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ap-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441128215855:ios:9ef8eec503b3c8b261adda</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-ap-001-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>